@model V3ServerDefinitionViewModel
@{
    var server = this.Model.Server;
    var serverAddress = $"{server.Host}{server.PathName}";
}

<div class="my-3">
    <div class="card">
        <a data-bs-toggle="collapse" href="#@this.Model.Key" role="button" aria-expanded="false" title="@server.Description" class="collapsed">
            <div class="card-header bg-transparent d-flex align-items-center">
                <i class="caret text-dark me-2"></i>
                <span class="badge bg-info me-2" title="The server's protocol and protocol version">@($"{server.Protocol}{(string.IsNullOrWhiteSpace(server.ProtocolVersion) || server.ProtocolVersion == "latest" ? string.Empty : " " + server.ProtocolVersion)}".ToUpperInvariant())</span>
                <span class="my-1 text-secondary text-decoration-underline">@this.Model.Key</span>
                <small class="font-italic text-muted ms-1"> [@Html.Raw(serverAddress.WrapPlaceholdersWithCodeTags())]</small>
                @if(server.Security != null && server.Security.Any())
                {
                    <i class="bi bi-lock-full text-secondary ms-2" role="button" title="The server has security requirements"></i>
                }
            </div>
        </a>
        <div id="@this.Model.Key" class="card-body collapse">
            @if (!string.IsNullOrWhiteSpace(server.Description))
            {
                <p><small class="text-secondary">@Html.Raw(Markdown.ToHtml(server.Description ?? string.Empty))</small></p>
            }
            @if (server.Variables != null)
            {
                <div class="card border-0">
                    <a data-bs-toggle="collapse" href="#@(this.Model.Key)_variables" role="button" aria-expanded="true">
                        <div class="card-header bg-transparent">
                            <i class="caret text-dark"></i>
                            <span class="font-weight-bold text-secondary">Variables</span>
                        </div>
                    </a>
                    <div id="@(this.Model.Key)_variables" class="card-body m-0 p-0 collapse show">
                        <table class="table my-3">
                            <tbody>
                                @foreach (var variableKvp in server.Variables)
                                {
                                    <tr>
                                        <td>
                                            <code>@variableKvp.Key</code>
                                        </td>
                                        <td>
                                            <small class="text-secondary">@Html.Raw(Markdown.ToHtml(variableKvp.Value.Description ?? string.Empty))</small>
                                            @if(variableKvp.Value.Enum != null && variableKvp.Value.Enum.Count > 0)
                                            {
                                                <small class="text-secondary">Supported values: @Html.Raw(string.Join(", ", variableKvp.Value.Enum.Select(v => $"<code>{v}</code>")))</small>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (server.Security != null)
            {
                <div class="card border-0">
                    <a data-bs-toggle="collapse" href="#@(this.Model.Key)_security" role="button" aria-expanded="false" class="collapsed">
                        <div class="card-header bg-transparent">
                            <i class="caret text-dark"></i>
                            <span class="font-weight-bold text-secondary">Security Schemes</span>
                        </div>
                    </a>
                    <div id="@(this.Model.Key)_security" class="card-body m-0 p-0 collapse show">
                        @foreach (var securityRequirement in server.Security)
                        {
                            @* <partial name="_SecurityRequirement" model="new SecurityRequirementViewModel(this.Model.Document, this.Model.Key, securityRequirement.Key, securityRequirement.Value)" /> *@
                        }
                    </div>
                </div>
            }
            @if(server.Bindings != null)
            {
                <div class="card border-0">
                    <div class="card-header bg-transparent">
                        <a data-bs-toggle="collapse" href="#@(this.Model.Key)_bindings" role="button" aria-expanded="false">
                            <i class="caret text-dark"></i>
                            <span class="font-weight-bold text-secondary">Bindings</span>
                        </a>
                    </div>
                    <div id="@(this.Model.Key)_bindings" class="card-body m-0 p-0 collapse show">
                        @if (server.Bindings == null || !server.Bindings.AsEnumerable().Any())
                        {
                            <p class="alert alert-warning fst-italic my-3">No bindings defined.</p>
                        }
                        else
                        {
                            @foreach (var binding in server.Bindings.AsEnumerable())
                            {
                                <partial name="v3/_V3Binding" model="new V3BindingDefinitionViewModel(this.Model.Document, binding, this.Model.Key)" />
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
