@inject Neuroglia.Serialization.IJsonSerializer Serializer
@model OperationDefinitionViewModel
@{
    var operationType = this.Model.OperationType;
    var operation = this.Model.Operation;
    var message = operation.Message;
    var jsonPayload = message?.Payload == null ? null : this.Serializer.SerializeToText(message?.Payload);
    var schema = string.IsNullOrWhiteSpace(jsonPayload) ? null : JsonSchema.FromText(jsonPayload);
    var operationRef = $"{operation.OperationId!.ToLowerInvariant()}-{EnumHelper.Stringify(operationType).ToLowerInvariant()}";

    var badgeColor = operationType == V2OperationType.Publish ? "info" : "info";
    var badgeTooltip = operationType == V2OperationType.Publish ? "An operation used to publish a message to the specified channel." : "An operation used to subscribe to messages from the specified channel.";
    var badgeText = operationType == V2OperationType.Publish ? "PUB" : "SUB";
}

<div class="m-3">
    <div class="card">

        <a data-bs-toggle="collapse" href="#@operationRef" role="button" aria-expanded="false" title="@(string.IsNullOrWhiteSpace(operation.Summary) ? operation.OperationId : operation.Summary)">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col-md-6">
                        <span class="badge border me-2 border-@badgeColor text-@badgeColor" title="@badgeTooltip">@badgeText</span>
                        <span class="h5 text-secondary">@operation.OperationId</span>
                        <small class="font-italic text-muted ms-1"> [@this.Model.ChannelKey]</small>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (operation.Tags != null)
                        {
                            foreach (var tag in operation.Tags)
                            {
                                <span class="badge rounded-pill border border-secondary text-secondary" title="@tag.Description">@tag.Name</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </a>

        <div id="@operationRef" class="card-body collapse">

            @if (!string.IsNullOrWhiteSpace(operation.Summary))
            {
                <p><small class="text-secondary">@operation.Summary</small></p>
            }

            <div class="card border-0">
                <a data-bs-toggle="collapse" href="#@(operationRef)_bindings" role="button" aria-expanded="false">
                    <div class="card-header bg-transparent">
                        <span class="font-weight-bold text-secondary">Bindings</span>
                    </div>
                </a>
                <div id="@(operationRef)_bindings" class="card-body m-0 p-0 collapse show">
                    @if (operation.Bindings == null || !operation.Bindings.AsEnumerable().Any())
                    {
                        <p class="alert alert-warning fst-italic my-3">No bindings defined.</p>
                    }
                    else
                    {
                        @foreach (var binding in operation.Bindings.AsEnumerable())
                        {
                            <partial name="_Binding" model="new BindingDefinitionViewModel(this.Model.Document, binding, operationRef)" />
                        }
                    }
                </div>
            </div>

            <div class="card border-0">
                <a data-bs-toggle="collapse" href="#@(operationRef)_messages" role="button" aria-expanded="false">
                <div class="card-header bg-transparent">
                    <span class="font-weight-bold text-secondary">Message(s)</span>
                </div>
                </a>
                <div id="@(operationRef)_messages" class="card-body p-0 m-0 collapse show">
                    @if(message == null)
                    {
                        <p class="alert alert-warning fst-italic m-3">No message has been defined for the operation.</p>
                    }
                    else if (message.OneOf == null || !message.OneOf.Any())
                    {
                        <partial name="_Message" model="new MessageDefinitionViewModel(this.Model.Document, 0, operationRef, message)" />
                    }
                    else
                    {
                        int index = 1;
                        foreach(var messageOption in message.OneOf)
                        {
                            <partial name="_Message" model="new MessageDefinitionViewModel(this.Model.Document, index, operationRef, messageOption)" />
                            index++;
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>