@model KeyValuePair<OperationType, Operation>
@{
    OperationType operationType = this.Model.Key;
    Operation operation = this.Model.Value;
    Message message = this.Model.Value.Message;
    JSchema schema = message.Payload.ToObject<JSchema>();
    string operationRef = $"{operation.OperationId}{operationType}".Slugify();
    string pubTooltip = "An operation used to publish a message to the specified channel";
    string subTooltip = "An operation used to subscribe to messages from the specified channel";
}

<div class="mt-3">
    <div class="card">
        <div class="card-header">
            <span class="badge badge-pill badge-success" title="@(operationType == OperationType.Publish ? pubTooltip : subTooltip)">@(operationType == OperationType.Publish ? "PUB" : "SUB")</span>
            <a data-toggle="collapse" href="#@operationRef" role="button" aria-expanded="false" title="@(string.IsNullOrWhiteSpace(operation.Summary) ? operation.OperationId : operation.Summary)">
                <span class="h5">@operation.OperationId</span>
            </a>
        </div>
        <div id="@operationRef" class="card-body collapse">
            <p class="mb-3">@operation.Summary</p>
            <div class="card mt-2">
                <div class="card-header">
                    <a data-toggle="collapse" href="#message_@operationRef" role="button" aria-expanded="false">
                        <span class="font-weight-bold">Message </span><span class="font-italic">[@message.Name]</span>
                    </a>
                </div>
                <div id="message_@operationRef" class="card-body collapse">
                    <div class="card">
                        <div class="card-body">
                            <div class="row m-1">
                                @foreach (var property in schema.Properties)
                                {
                                    <div class="col-md-3">
                                        <span class="font-italic">@property.Key</span>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="font-weight-bold text-primary">@property.Value.Type</span>
                                        @if (schema.Required != null
                                           && schema.Required.Contains(property.Key))
                                        {
                                            <span class="badge badge-pill badge-danger text-white">Required</span>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(property.Value.Format))
                                        {
                                            <span class="badge badge-pill badge-warning">Format: @property.Value.Format</span>
                                        }
                                        <p>@property.Value.Description</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <a data-toggle="collapse" href="#examples_@operationRef" role="button" aria-expanded="false">
                        <span class="font-weight-bold">Examples</span>
                    </a>
                </div>
                <div id="examples_@operationRef" class="card-body collapse">

                </div>
            </div>
        </div>
    </div>
</div>
