@model SecurityRequirementViewModel
@{
    var requirementName = this.Model.Key;
    var scheme = this.Model.Document.Components?.SecuritySchemes?.FirstOrDefault(s => s.Key.Equals(requirementName, StringComparison.OrdinalIgnoreCase)).Value;
    var schemeType = scheme == null ? "undefined" : EnumHelper.Stringify(scheme.Type);
    var reference = $"{this.Model.ParentRef}_security_requirements_{requirementName}";
}

<div class="card my-3">
    <a data-bs-toggle="collapse" href="#@reference" role="button" aria-expanded="false">
        <div class="card-header">
            <span class="badge bg-warning me-2" title="The security scheme type">@schemeType</span>
            <span class="text-secondary fw-bold">@requirementName</span>
        </div>
    </a>
    <div id="@reference" class="card-body collapse">
        <div class="card border-0">
            <div class="card-body m-0 p-0">
                @if(scheme == null)
                {
                    <p class="alert alert-danger fst-italic my-3">The security scheme '{@requirementName}' is undefined.</p>
                }
                else
                {
                    @if (!string.IsNullOrWhiteSpace(scheme.Description))
                    {
                        <p><small class="text-secondary fst-italic">@scheme.Description</small></p>
                    }
                    <div class="row">
                        <div class="col-2">
                            <small class="text-secondary">Type</small>
                            <small class="bi bi-info-circle text-secondary ms-1" role="button" title="The security scheme's type. Possible values are: @(string.Join(", ", Enum.GetValues<SecuritySchemeType>().Select(e => EnumHelper.Stringify(e))))"></small>
                        </div>
                        <div class="col-2"><small class="badge border border-muted text-secondary">@(EnumHelper.Stringify(scheme.Type))</small></div>
                    </div>
                    @if (scheme.OpenIdConnectUrl != null)
                    {
                        <div class="row">
                            <div class="col-2">
                                <small class="text-secondary">OpenID Connect Url</small>
                                <small class="bi bi-info-circle text-secondary ms-1" role="button" title="The OpenId Connect uri to discover OAuth2 configuration values."></small>
                            </div>
                            <div class="col-2">
                                <small class="badge border border-muted text-secondary">@scheme.OpenIdConnectUrl</small>
                            </div>
                        </div>
                    }
                    if (scheme.Scheme != null)
                    {
                        <div class="row">
                            <div class="col-2">
                                <small class="text-secondary">Authorization Scheme</small>
                                <small class="bi bi-info-circle text-secondary ms-1" role="button" title="The name of the HTTP Authorization scheme to be used in the Authorization header as defined in RFC7235."></small>
                            </div>
                            <div class="col-2"><small class="badge border border-muted text-secondary">@scheme.Scheme</small></div>
                        </div>
                    }
                    if (!string.IsNullOrWhiteSpace(scheme.Name))
                    {
                        <div class="row">
                            <div class="col-2">
                                <small class="text-secondary">Parameter Name</small>
                                <small class="bi bi-info-circle text-secondary ms-1" role="button" title="The name of the header, query or cookie parameter to be used"></small>
                            </div>
                            <div class="col-2"><small class="badge border border-muted text-secondary">@scheme.Name</small></div>
                        </div>
                    }
                    if (!string.IsNullOrWhiteSpace(scheme.In))
                    {
                        <div class="row">
                            <div class="col-2">
                                <small class="text-secondary">API Key Location</small>
                                <small class="bi bi-info-circle text-secondary ms-1" role="button" title="The location of the API key."></small>
                            </div>
                            <div class="col-2"><small class="badge border border-muted text-secondary">@scheme.In</small></div>
                        </div>
                    }
                    if (!string.IsNullOrWhiteSpace(scheme.BearerFormat))
                    {
                        <div class="row">
                            <div class="col-2">
                                <small class="text-secondary">Bearer Format</small>
                                <small class="bi bi-info-circle text-secondary ms-1" role="button" title="An object hint to the client to identify how the bearer token is formatted."></small>
                            </div>
                            <div class="col-2">
                                <small class="badge border border-muted text-secondary">@scheme.BearerFormat</small>
                            </div>
                        </div>
                    }
                    if (scheme.Flows != null && scheme.Flows.AsEnumerable().Any())
                    {
                        <div class="card my-3 border-0">
                            <a data-bs-toggle="collapse" href="#@($"{reference}_flows")" role="button" aria-expanded="false">
                                <div class="card-header bg-transparent">
                                    <span class="text-secondary fw-bold">Flows</span>
                                    <small class="bi bi-info-circle text-secondary ms-1" role="button" title="The supported OAUTH flows"></small>
                                </div>
                            </a>
                            <div id="@($"{reference}_flows")" class="card-body m-0 p-0 collapse show">
                                @if(scheme.Flows.Implicit != null)
                                {
                                    <partial name="_OAuthFlow" model="@(new OAuthFlowDefinitionViewModel(this.Model.Document, reference, "Implicit", scheme.Flows.Implicit))" />
                                }
                                @if (scheme.Flows.ClientCredentials != null)
                                {
                                    <partial name="_OAuthFlow" model="@(new OAuthFlowDefinitionViewModel(this.Model.Document, reference, "Client Credentials", scheme.Flows.ClientCredentials))" />
                                }
                                @if (scheme.Flows.AuthorizationCode != null)
                                {
                                    <partial name="_OAuthFlow" model="@(new OAuthFlowDefinitionViewModel(this.Model.Document, reference, "Authorization Code", scheme.Flows.AuthorizationCode))" />
                                }
                                @if (scheme.Flows.Password != null)
                                {
                                    <partial name="_OAuthFlow" model="@(new OAuthFlowDefinitionViewModel(this.Model.Document, reference, "Password", scheme.Flows.Password))" />
                                }
                            </div>
                        </div>
                    }
                    
                }
            </div>
        </div>
    </div>
</div>