@model ServerDefinitionViewModel
@{ 
    var server = this.Model.Server;
}

<div class="m-3">
    <div class="card">
        <a data-bs-toggle="collapse" href="#@this.Model.Key" role="button" aria-expanded="false" title="@server.Description">
            <div class="card-header bg-transparent">
                <span class="badge bg-warning me-2" title="The server's protocol and protocol version">@($"{server.Protocol}{(string.IsNullOrWhiteSpace(server.ProtocolVersion) || server.ProtocolVersion == "latest" ? string.Empty : " " + server.ProtocolVersion)}".ToUpperInvariant())</span>
                <span class="h5 text-secondary">@this.Model.Key</span>
                <small class="font-italic text-muted ms-1"> [@server.Url]</small>
            </div>
        </a>
        <div id="@this.Model.Key" class="card-body collapse">
            <p class="mb-3">@server.Description</p>
            @if (server.Variables != null)
            {
                <div class="card border-0">
                    <div class="card-header bg-transparent">
                        <a data-bs-toggle="collapse" href="#@(this.Model.Key)_variables" role="button" aria-expanded="false">
                            <span class="font-weight-bold text-secondary">Variables</span>
                        </a>
                    </div>
                    <div id="@(this.Model.Key)_variables" class="card-body collapse">
                        <div class="card">
                            <div class="card-body m-0 p-0">
                                <div class="row m-1">
                                    @foreach (var variableKvp in server.Variables)
                                    {
                                        <div class="col-md-3">
                                            <span class="font-italic">@variableKvp.Key</span>
                                        </div>
                                        <div class="col-md-9">
                                            <span class="font-weight-bold text-primary">@variableKvp.Value.Description</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if(server.Bindings != null)
            {
                <div class="card border-0">
                    <div class="card-header bg-transparent">
                        <a data-bs-toggle="collapse" href="#@(this.Model.Key)_bindings" role="button" aria-expanded="false">
                            <span class="font-weight-bold text-secondary">Bindings</span>
                        </a>
                    </div>
                    <div id="@(this.Model.Key)_bindings" class="card-body m-0 p-0 collapse show">
                        @if (server.Bindings == null || !server.Bindings.AsEnumerable().Any())
                        {
                            <p class="alert alert-warning fst-italic my-3">No bindings defined.</p>
                        }
                        else
                        {
                            @foreach (var binding in server.Bindings.AsEnumerable())
                            {
                                <partial name="_Binding" model="new BindingDefinitionViewModel(this.Model.Document, binding, this.Model.Key)" />
                            }
                        }
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>
