@model KeyValuePair<string, Server>
@{ 
    Server server = this.Model.Value;
}

<div class="mt-3">
    <div class="card">
        <div class="card-header">
            <span class="badge badge-pill badge-warning" title="The server's protocol and protocol version'">@($"{server.Protocol} {server.ProtocolVersion}")</span>
            <a data-toggle="collapse" href="#@this.Model.Key" role="button" aria-expanded="false" title="@server.Description">
                <span class="h5">@this.Model.Key</span>
            </a>
            <span class="font-italic text-muted"> [@server.Url]</span>
        </div>
        <div id="@this.Model.Key" class="card-body collapse">
            <p class="mb-3">@server.Description</p>
            @if (server.Variables != null)
            {
                <div class="card">
                    <div class="card-header">
                        <a data-toggle="collapse" href="#@(this.Model.Key)_variables" role="button" aria-expanded="false">
                            <span class="font-weight-bold">Variables</span>
                        </a>
                    </div>
                    <div id="@(this.Model.Key)_variables" class="card-body collapse">
                        <div class="card">
                            <div class="card-body">
                                <div class="row m-1">
                                    @foreach (var variableKvp in server.Variables)
                                    {
                                        <div class="col-md-3">
                                            <span class="font-italic">@variableKvp.Key</span>
                                        </div>
                                        <div class="col-md-9">
                                            <span class="font-weight-bold text-primary">@variableKvp.Value.Description</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if(server.Bindings != null)
            {
                <div class="card">
                    <div class="card-header">
                        <a data-toggle="collapse" href="#@(this.Model.Key)_bindings" role="button" aria-expanded="false">
                            <span class="font-weight-bold">Bindings</span>
                        </a>
                    </div>
                    <div id="@(this.Model.Key)_bindings" class="card-body">
                        @foreach (var binding in server.Bindings)
                        {
                            string bindingName = binding.GetType().Name.Replace("ServerBinding", "").ToLower();
                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" href="#@($"{this.Model.Key}_{bindingName}")" role="button" aria-expanded="false">
                                        <span>@bindingName</span>
                                    </a>
                                </div>
                                <div id="@($"{this.Model.Key}_{bindingName}")" class="card-body collapse">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row m-1">
                                                @foreach (var property in binding.GetType().GetProperties())
                                                {
                                                    object value = property.GetValue(binding);
                                                    if (value == null)
                                                        continue;
                                                    <div class="col-md-3">
                                                        <span class="font-italic">@property.Name</span>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span class="font-weight-bold text-primary">@value</span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
