@page
@model Neuroglia.AsyncApi.AspNetCore.UI.Pages.AsyncApiModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    AsyncApiDocument document = this.Model.Document;
    this.ViewBag.Title = document?.Info.Title;
}
<div>
    @if (document == null)
    {
        if (string.IsNullOrWhiteSpace(this.Model.RequestedTitle))
        {
            <p class="text-danger text-center">No AsyncAPI documents available. Check out the <a href="https://github.com/neuroglia-io/AsyncApi#usage" target="_blank">docs</a> to get started.</p>
        }
        else
        {
            <p class="text-danger text-center">Failed to find an AsyncAPI document with title '@(this.Model.RequestedTitle)' @(string.IsNullOrWhiteSpace(this.Model.RequestedVersion) ? "" : $"and version '{this.Model.RequestedVersion}'").</p>
        }
    }
    else
    {
        <div>
            <h1>@document.Info.Title <span class="badge badge-secondary badge-pill">@document.Info.Version</span></h1>
            <div class="mb-3">
                @if (document.Info.License != null
                    && document.Info.License.Url != null)
                {
                    <a class="badge badge-pill badge-primary" href="@document.Info.License.Url" target="_blank" title="View the license of the @document.Info.Title @document.Info.Version">@document.Info.License.Name</a>
                }
                @if (document.Info.TermsOfService != null)
                {
                    <a class="badge badge-pill badge-primary" href="@document.Info.TermsOfService" target="_blank" title="View the Terms of Service of the @document.Info.Title @document.Info.Version">Terms of Service</a>
                }
            </div>
            <p>@document.Info.Description</p>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><a data-toggle="collapse" href="#servers" role="button" aria-expanded="false">Servers</a></h3>
            </div>
            <div id="servers" class="card-body">
                @foreach (KeyValuePair<string, Server> server in document.Servers)
                {
                    <partial name="_Server" model="server" />
                }
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><a data-toggle="collapse" href="#operations" role="button" aria-expanded="false">Operations</a></h3>
            </div>
            <div id="operations" class="card-body">
                @foreach (KeyValuePair<string, Channel> channel in document.Channels)
                {
                    <p class="mb-2"><span class="h4">@channel.Key </span><span>@channel.Value.Description</span></p>
                    if (channel.Value.Publish != null)
                    {
                        <partial name="_Operation" model="new KeyValuePair<OperationType, Operation>(OperationType.Publish, channel.Value.Publish)" />
                    }
                    if (channel.Value.Subscribe != null)
                    {
                        <partial name="_Operation" model="new KeyValuePair<OperationType, Operation>(OperationType.Subscribe, channel.Value.Subscribe)" />
                    }
                }
            </div>
        </div>
        <br />
        @if (document.Components != null)
        {
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a data-toggle="collapse" href="#components" role="button" aria-expanded="false">Components</a></h3>
                </div>
                <div id="components" class="card-body">
                    @if (document.Components.Schemas != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-toggle="collapse" href="#components_schemas" role="button" aria-expanded="false">Schemas</a></h4>
                            </div>
                            <div id="components_schemas" class="card-body">
                                @foreach (KeyValuePair<string, JSchema> schema in document.Components.Schemas)
                                {
                                    <partial name="_Schema" model="schema" view-data="new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary())" view-data-Collapsed="true" />
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
