@page
@model Neuroglia.AsyncApi.AspNetCore.UI.Pages.DashboardModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    AsyncApiDocument document = this.Model.Documents.First();
    this.ViewBag.Title = document.Info.Title;
}
<div>
    <div>
        <h1>@document.Info.Title @document.Info.Version</h1>
        <div class="mb-3">
            @if (document.Info.License != null)
            {
                if (document.Info.TermsOfService != null)
                {
                    <a class="badge badge-pill badge-primary" href="@document.Info.TermsOfService" target="_blank" title="View the Terms of Service of the @document.Info.Title @document.Info.Version">Terms of Service</a>
                }
                if (document.Info.License.Url != null)
                {
                    <a class="badge badge-pill badge-primary" href="@document.Info.License.Url" target="_blank" title="View the license of the @document.Info.Title @document.Info.Version">@document.Info.License.Name</a>
                }
            }
        </div>
        <p>@document.Info.Description</p>
    </div>
    <br />
    <div>
        <h3><u>Operations</u></h3>
        <br />
        @foreach (KeyValuePair<string, Channel> channel in document.Channels)
        {
            <p class="mb-2"><span class="h4">@channel.Key </span><span>@channel.Value.Description</span></p>
            if (channel.Value.Publish != null)
            {
                <partial name="_Operation" model="new KeyValuePair<OperationType, Operation>(OperationType.Publish, channel.Value.Publish)" />
            }
            if (channel.Value.Subscribe != null)
            {
                <partial name="_Operation" model="new KeyValuePair<OperationType, Operation>(OperationType.Subscribe, channel.Value.Subscribe)" />
            }
        }
    </div>
</div>
