@inject IJsonSerializer Serializer
@inject IJsonSchemaResolver JsonSchemaResolver
@inject IJsonSchemaExampleGenerator ExampleGenerator
@model V2MessageDefinitionViewModel
@{
    var operationRef = this.Model.OperationRef;
    var messageRef = $"{operationRef}_message{this.Model.Index}";
    var message = this.Model.Definition;
    var payloadSchema = message.Payload == null ? null : JsonSchema.FromText(this.Serializer.SerializeToText(message.Payload));
    if (payloadSchema != null) payloadSchema = await this.JsonSchemaResolver.ResolveSchemaAsync(payloadSchema);
}
<div class="card my-3">
    <a data-bs-toggle="collapse" href="#@messageRef" role="button" aria-expanded="false" title="@message?.Summary" class="collapsed">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <i class="caret text-dark"></i>
                    <span class="fw-bold fs-5 text-secondary align-middle">#@Model.Index</span>
                    <span class="text-muted align-middle mx-2">@message?.Name</span>
                    <span class="badge border border-secondary text-secondary">@message?.ContentType</span>
                    @if(message?.CorrelationId != null)
                    {
                        <i class="bi bi-link ms-2 text-dark" role="button" title="The message is correlatable"></i>
                    }
                </div>
                <div class="col-md-3 text-end">
                    @if (message?.Tags != null)
                    {
                        foreach (var tag in message.Tags)
                        {
                            <span class="badge rounded-pill border border-secondary text-secondary" title="@tag.Description">@tag.Name</span>
                        }
                    }
                </div>
            </div>
        </div>
    </a>
    <div id="@messageRef" class="card-body collapse">

        @if (!string.IsNullOrWhiteSpace(message?.Description))
        {
            <p><small class="text-secondary">@message?.Description</small></p>
        }

        <div class="card border-0">
            <a data-bs-toggle="collapse" href="#@(messageRef)_bindings" role="button" aria-expanded="false" class="collapsed">
                <div class="card-header bg-transparent">
                    <i class="caret text-dark"></i>
                    <span class="font-weight-bold text-secondary">Bindings</span>
                </div>
            </a>
            <div id="@(messageRef)_bindings" class="card-body m-0 p-0 collapse">
                @if (message?.Bindings == null || !message.Bindings.AsEnumerable().Any())
                {
                    <p class="alert alert-warning fst-italic my-3">No bindings defined.</p>
                }
                else
                {
                    @foreach (var binding in message.Bindings.AsEnumerable())
                    {
                        <partial name="v2/_V2Binding" model="new V2BindingDefinitionViewModel(this.Model.Document, binding, messageRef)" />
                    }
                }
            </div>
        </div>

        @if (message?.CorrelationId != null)
        {
            <div class="card border-0">
                <a data-bs-toggle="collapse" href="#@(messageRef)_correlationId" role="button" aria-expanded="false">
                    <div class="card-header bg-transparent">
                        <i class="caret text-dark"></i>
                        <span class="font-weight-bold text-secondary">Correlation Id</span>
                    </div>
                </a>
                <div id="@(messageRef)_correlationId" class="card-body m-0 p-0 collapse show">
                    <partial name="_CorrelationId" model="new CorrelationIdDefinitionViewModel(this.Model.Document, message.CorrelationId)" />
                </div>
            </div>
        }

        @if (payloadSchema == null)
        {
            <p class="alert alert-warning fst-italic m-3">The message does not specify a payload schema.</p>
        }
        else
        {
            var type = payloadSchema.GetJsonType()!;
            var properties = payloadSchema.GetProperties();
            <div class="card border-0">
                <a data-bs-toggle="collapse" href="#@(messageRef)_payload" role="button" aria-expanded="false" title="@payloadSchema.GetDescription()">
                    <div class="card-header bg-transparent">
                        <i class="caret text-dark"></i>
                        <span class="font-weight-bold text-secondary">Payload</span><span class="badge bg-secondary text-light ms-2">@(type == null ? "object" : EnumHelper.Stringify(type.Value).ToLowerInvariant())</span>
                    </div>
                </a>
                @if (type == SchemaValueType.Array || type == SchemaValueType.Object)
                {
                    var examples = message?.Examples;
                    <div id="@(messageRef)_payload" class="card-body collapse show">
                        <div class="row">
                            <div class="col-7 p-3">
                                <partial name="_Schema" model="new SchemaViewModel(this.Model.Document, payloadSchema)" />
                            </div>
                            <div class="col-5 bg-secondary text-light p-3 rounded-1">
                                @{
                                    var example = examples != null && examples.Any() ? examples.Last().Value : this.ExampleGenerator.GenerateExample(payloadSchema);
                                    var serializationOptions = new System.Text.Json.JsonSerializerOptions();
                                    Neuroglia.Serialization.Json.JsonSerializer.DefaultOptionsConfiguration(serializationOptions);
                                    serializationOptions.WriteIndented = true;
                                    <pre class="m-0"><code>@System.Text.Json.JsonSerializer.Serialize(example, serializationOptions)</code></pre>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>